.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-padding:0;
    -fx-text-fill:#272727;
}
.scroll-pane  {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}
.button {
    -fx-cursor:hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.text{
    -fx-font-smoothing-type: gray;
}
.label {
    -fx-font-smoothing-type: gray;
    -fx-font-weight:bold;
}
.main-bg-color {
    -fx-background-color: #222b2e;
}

.lbl-white {
    -fx-text-fill:#fff;
}
.lbl-gray {
    -fx-text-fill:#d3d3d3;
}

.lbl-h1 {
    -fx-font-size:26;
}
.lbl-h2 {
    -fx-font-size:22;
}
.lbl-h3 {
    -fx-font-size:18;
}
.lbl-h4 {
    -fx-font-size:16;
}
.lbl-h5 {
    -fx-font-size:13;
}
.lbl-small {
    -fx-font-size:9;
}

/* popup styles */
.popup-overlay {
    -fx-background-color:#000;
    -fx-opacity: 0.3;

}


/* Main wrapper */
.main-wrapper {
    -fx-background-color:#302e2e;
    /*-fx-padding:10;*/
}


/* Content controller styles */
.content-container {
    -fx-padding:10;
    -fx-background-color: transparent;
}

.content-container .title {

}

.titled-pane.s1 > .title {
    -fx-background-color:   linear-gradient(#293034 30%, #181f24 100%);

}
.titled-pane.s1 > .title .text {
    -fx-fill:#d3d3d3;
}
.titled-pane.s1:focused > .title {
    -fx-color: -fx-focus-color;
}
.titled-pane.s1 > *.content {
    -fx-background-color: #14171c;
}
.titled-pane.s1 .split-pane-divider {
    -fx-background-color:#292f33;
    -fx-border:none;
}

.menu-bar {
    -fx-background-color:#3c3f41;
    -fx-padding:0;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color:#3c3f41;
    -fx-padding:8 8 6 8;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color:#7b3275;
}

.menu-bar > .container > .menu-button .label {
    -fx-text-fill: #9c9c9c;
    -fx-font-weight:normal;
    -fx-font-size:12;
}

.context-menu {
    -fx-background-color:#3c3f41;
}


.menu-item {
    -fx-background-color:#3c3f41;
}

.menu-item .label {
    -fx-font-weight:0;
    -fx-text-fill: #6e7072;

}

.menu-item:focused {
    -fx-background-color:#7b3275;
}


